@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Resets */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Flexbox for body */
html,
body {
  height: 100%;
  width: 100%;
}



.container>form {
  display: flex;
  flex-direction: column;
  gap: 10px;

}


.user-section {
  display: flex;
  justify-content: space-between;
}